.quote-one {
    border-left: solid 1px red;
    margin-left: 4px;
    padding-left: 2px;
}

.quote-two {
    border-left: solid 1px blue;
    margin-left: 4px;
    padding-left: 2px;
}
.quote-three {
    border-left: solid 1px green;
    margin-left: 4px;
    padding-left: 2px;
}

.tag-panel {
    border: solid 1px #000000;
    background-color: #DADADA;
    padding: 4px;
}

.tag-form {
    text-align: right;
    padding: 2px;
}

#split-message-detail {
    overflow: auto;
    margin-left: 1%; 
    padding: 0;
    padding-top: 4px;
    height: 200px;
}

.hide-show-link {
    font-size: 1.2em;
    font-weight: bold;
}

#message-control-panel {
    margin-left: 1%;
    border: solid 1px #DADADA;
}

.slight-link {
    font-size: .9em;
    font-style: italic;
}

table.quotient-dialog-table {
    margin: 12px;
    background-color: #FFFFFF;
    border-spacing: 0;
    border: solid 1px #B0B0B0;
}

table.quotient-dialog-table > thead {
    background-color: #DADADA;
    font-style: italic;
}

table.quotient-dialog-table > thead > tr > td {
    border-bottom: solid 1px #B0B0B0;
    padding: 2px;
}

table.quotient-dialog-table > tbody > tr > td { padding: 4px; }
