table.tdb > tbody > tr > td { cursor: pointer; }

.sender-person-name {
    color: #006600;
    font-weight: bold;
    font-size: 1.2em;
}

.progress-actions {
    background-color: #F0F5D7;
    padding: 4px;
}

ul.postnav,ul.postnav li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

ul.postnav li {
    float: left;
    font-size: 105%;
    margin-right: 5px
}

ul.postnav a {
    display: block;
    padding: 3px;
    font: bold 100% Verdana, Arial, sans-serif;
    text-transform: uppercase;
    background: #CCCC99;
    color: #000000;
    text-decoration: none;
    text-align: center
}

ul.postnav a:hover {
    background: #B7B68A;
    color: #414141;
}

#overlay {
    background-image: url(/Quotient/static/images/overlay.png);
}

div#head { display: none }

.border-bl, .border-br, .border-tl, .border-tr {
    width: 9px;
    height: 9px;
}

.button-border-bl, .button.border-br, .button-border-tl, .button-border-tr {
    width: 7px;
    height: 7px;
}

.button-border-bl, .button.border-br, .button-border-tl, .button-border-tr, .border-bl, .border-br, .border-tl, .border-tr {
    padding: 0px;
    border: 0px;
    z-index: 99;
}

.border-tl, .border-bl, .button-border-tl, .button-border-bl {
    float: left;
    clear: both;
}

.border-tr, .border-br, .button-border-tr, .button-border-br {
    float: right;
    clear: right;
}

.view-pane {
    margin: 0px;
    padding: 0px;
    border-left: solid 1px #666633;
    border-right: solid 1px #666633;
}

.border-top-edge {
    width: 100%;
    height: 2px;
    background-image: url(/Quotient/static/images/views-container-border-top.png);
    background-repeat: repeat-x;
}

.border-bottom-edge {
    width: 100%;
    height: 2px;
    background-image: url(/Quotient/static/images/views-container-border-bottom.png);
    background-repeat: repeat-x;
}

.button-top-edge {
    width: 100%;
    background-color: #CCCC99;
    height: 7px;
}

.rounded-corner-spacer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    clear: both;
    font-size: 1px;
    line-height: 1px;
}

.rbroundbox { background: url(/Quotient/static/images/nt.gif) repeat; }
.rbtop div { background: url(/Quotient/static/images/tl.gif) no-repeat top left; }
.rbtop { background: url(/Quotient/static/images/tr.gif) no-repeat top right; }
.rbbot div { background: url(/Quotient/static/images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(/Quotient/static/images/br.gif) no-repeat bottom right; }

.rbtop div, .rbtop, .rbbot div, .rbbot {
    width: 100%;
    height: 7px;
    font-size: 1px;
}

.inbox-container { margin-left: 4px }
.message-detail-fragment { padding-left: 8px }

.rbcontent { margin: 0px 7px; }
.rbroundbox {
    width: 7em;
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
}

.rbroundbox-h { background-color: #F0F5D7; }
.rbtop-h div { background: url(/Quotient/static/images/top-left-buttress.png) no-repeat top left; }
.rbtop-h { background: url(/Quotient/static/images/top-right-buttress.png) no-repeat top right; }
.rbbot-h div { background: url(/Quotient/static/images/bottom-left-buttress.png) no-repeat bottom left; }
.rbbot-h { background: url(/Quotient/static/images/bottom-right-buttress.png) no-repeat bottom right; }

.rbtop-h div, .rbtop-h, .rbbot-h div, .rbbot-h {
    width: 100%;
    height: 10px;
    font-size: 1px;
}

.rbcontent-h {
    margin: 0px 7px;
}

.rbcontent > a:link, .rbcontent > a:visited {
    color: #000000;
}

.rbroundbox-h {
    width: 100%;
}

.border-tl { margin: 0px 0px 0px -1px; }
.border-tr { margin: -2px -1px 0px 0px; }
.border-bl { margin: -7px 0px 0px 0px; }
.border-br { margin: -9px 0px 0px 0px; }

.button-border-tl { margin-top: -3px; }
.button-border-tr { margin-top: -7px; }

.button {
    width: 8em;
    text-align: center;
    margin-left: 4px;
    margin-top: 10px;
}

.button-content {
    background-color: #CCCC99;
}

.list-option {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: .8em;
}

.list-option, .selected-list-option {
    overflow: hidden;
}

.list-option:hover {
    cursor: pointer;
    text-decoration: underline;
}

.view-pane-container {
    width: 200px;
    padding: 0px;
    border: 0px;
}

.view-pane-content {
    background-color: #F0F5D7;
}

.views-collapsible-pane {
    cursor: pointer;
    font-weight: bold;
    color: #006600;
}

.selected-list-option {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: .8em;
    font-weight: bold;
}

.q-scroll-row {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: .8em;
    margin: 0px 1px 0px 1px;
    background-color: #FFFFFF;
}

.q-scroll-row:visited, .q-scroll-row:link {
    color: #000000;
}

.progress-bar {
    height: 4px;
    background-color: #DADADA;
}

.progress-meter {
    background-color: #FFFFFF;
    border: solid 1px #000000;
    margin-bottom: 4px;
}

.next-message-preview {
    padding: 2px;
    margin-left: 4px;
    margin-bottom: 4px;
    background-color: #E6EBCD;
    overflow: hidden;
    white-space: nowrap;
}

.progress-meter, .message-actions {
    margin-left: 4px;
}

#add-person-fragment {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 99;
}

.draft-timestamp {
    background: #4ca1d8 url(/Mantissa/images/nav_bg.gif) top left repeat-x;
    text-shadow: 2px 2px 1px #2A7DB3;
    color: #FFFFFF;
    padding: 4px 2px 0px 2px;
    font-weight: bold;
}

* html #overlay{
    background-color: #000;
    back\ground-color: transparent;
    background-image: url(/Quotient/static/images/blank.gif);
}

a.collapse-arrow {
    color: #000000;
    font-weight: bold;
    font-size: 1.2em;
}

.collapsible-pane {
    background: #4ca1d8 url(/Mantissa/images/nav_bg.gif) top left repeat-x;
    padding: 0px 2px 2px 2px;
    cursor: pointer;
    white-space: nowrap;
}

.pane-body {
    padding: 2px 2px 2px 4px;
}

#lightbox {
    background-color:#eee;
    padding: 10px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
}

#lightboxCaption {
    font-size: 0.8em;
    padding-top: 0.4em;
}

#lightbox img { border: none; }
#overlay img { border: none; }

.unread-message {
    display: block;
    font-weight: bold;
}

.read-message {
    display: block;
}

#add-person-fragment {
    position: absolute;
    padding: 4px;
    border: solid 1px #000000;
}

.view-selectors {
    margin-bottom: 4px;
}

/* the header table */

table.header-table {
    margin-left: 4px;
    margin-right: 4px;
    border: solid 1px #CACACA;
    border-top: none;
    width: 100%;
    border-right: none;
}

.header-table-last-col {
    width: 100%;
}

.header-table-first-col {
    white-space: nowrap;
}

.embedded-action-dialog {
    font-size: 1.4em;
    text-align: center;
}

/* put a grey border around all other rows */
table.header-table > tbody > tr > td {
    border-right: solid 1px #CACACA;
    border-top: solid 1px #CACACA;
    padding: 1px;
}

/* gallery stuff */

.gallery-image {
    background-image: url(/Quotient/static/images/slide-dark.png);
    float: left;
    padding: 4px;
    margin-right: 4px;
    width: 180px;
    height: 180px;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.gallery-image-alt {
    background-image: url(/Quotient/static/images/slide.png);
    float: left;
    padding: 4px;
    margin-right: 4px;
    width: 180px;
    height: 180px;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

img.thumbnail { border: none; }

.address-completions {
    border: solid 1px #000000;
    background-color: #FFFFFF;
    padding: 2px;
    overflow: hidden;
    font-size: 1.1em;
}

.selected-address-completion {
    background-color: #F1F1F1;
}

.quote-one {
    border-left: solid 1px red;
    margin-left: 4px;
    padding-left: 2px;
}

.quote-two {
    border-left: solid 1px blue;
    margin-left: 4px;
    padding-left: 2px;
}
.quote-three {
    border-left: solid 1px green;
    margin-left: 4px;
    padding-left: 2px;
}

.tag-panel {
    border: solid 1px #000000;
    background-color: #DADADA;
    padding: 4px;
}

.tag-form {
    text-align: right;
    padding: 2px;
}

.message-detail {
    overflow: auto;
    height: 100%;
    background-color: #FFFFFF;
    margin-top: 4px;
}

.message-body {
    margin-left: 4px;
    font-family: monospace;
    font-size: 1.3em;
    padding-top: 2px;
}
