.nav-panel > div {
    display: none;
}

.viewtab {
    margin-right: 4px;
    padding: 4px 4px 0px 4px;
    border: solid 1px #B0B0B0;
    border-bottom: none;
    background-color: #F1F1F1;
    cursor: pointer;
}

.active-viewtab {
    margin-right: 4px;
    padding: 4px 4px 0px 4px;
    border: solid 1px #B0B0B0;
    border-bottom: none;
    background-color: #FFFFFF;
    font-weight: bold;
}

/* XXX shouldn't be an ID.  can we do selectors by athena:class?
 */
#mailbox-meat .tdb-navigation-panel { display: none; }

table.tdb > tbody > tr > td { cursor: pointer; }
.embedded-action { float: right; display: block; }
